<!-- <h1>Error Page</h1> -->
<!DOCTYPE html>
<html lang="en" style="background-color: #FEE8AF;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrap" style="display: flex;align-items:center;justify-content: center;height: 100vh;">
        <div class="box" style="height: 315px;">
            <div class="image" style="width:300px;margin:0 auto;">
                <img width="100%" src="/static/img/error.png" alt="">
            </div>
            <a href="/auth" style="background-color: #674F3D; display: block; width: 167.5px; margin: 0 auto; border-radius: 4px; border:2px solid #674F3D;text-decoration: none; padding:10px 15px; color: #fff;font-family: 'Gaegu' !important;font-size: 25px;text-align: center;">메인으로 가기</a>
            <h2 style="color: #674F3D;font-family: 'Gaegu' !important;font-size: 30px;text-align: center;">연하장을 찾을 수 없어요!</h2>
        </div>
    </div>
</body>
</html>

