@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');
@font-face {
  font-family: "gmarket";
  src: url("../fonts/GmarketSansTTFBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "gmarket";
  src: url("../fonts/GmarketSansTTFMedium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "gmarket";
  src: url("../fonts/GmarketSansTTFLight.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 600;
  font-style: bold;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 800;
  font-style: black;
}
*{color: #674F3D;}
html,body {}
body {
  font-size: 14px;
  font-family: 'Gaegu' !important;
  font-weight: 400;
  line-height: 1;
  color: #674F3D;
  background-color: #FEE8AF;
}
.wrapCenter{ min-height: 35.5rem;background-size: 55%; height: 100%;display: flex;align-items: center;justify-content: center;}
section{}
button{font-family: 'Gaegu' !important;}
.marginCenter{max-width: 780px;padding:0 15px;margin: 0 auto;}
.mainBox{position: relative;}
.mainBox::after{top: -74px;left: 0;right: 0;margin: auto;width: 330px;height: 267px;background-size: cover; display: block;content: '';position: absolute;background-image: url('../img/mainBg.png');}
.mainBox h2{font-size: 36px;text-align: center;}
.mainBox p{font-size: 16px;margin-top: 10px;text-align: center;}
.mainBox .image{width: 201px;margin: 0 auto; margin-top: 15px;}
.mainBox .image img{width: 100%;}
.btnArea{max-width: 320px;width: 100%;margin: 0 auto;margin-top: 70px;display: flex;}

.btnArea .checks input[type="radio"] + label{display: block; width: 320px;height: 55px;font-size: 20px;border-radius: 4px;border: 1px solid #000;}
.centerSpace .btnArea{max-width: 320px;width: 100%;margin: 0 auto;margin-top: 70px;display: block;}
.centerSpace .btnArea button{font-size: 20px;width: 100%;height: 55px;border-radius: 5px;}
.btnArea button.inKakao{}
.btnArea button.inKakao{background-color: #F9E000;}
.btnArea button.inKakao img{width: 28px;}
.btnArea button.inTweeter{background-color: #1DA1F2;margin-top: 10px;color: #fff;}
.btnArea button.inTweeter img{width: 34px;}
.btnArea button.inGoogle{background-color: #fff;margin-top: 10px;}
.btnArea button.inGoogle img{width: 23px;}

/*************** signUp.html ***************/
.stepGage{max-width: 780px;width: 100%;margin: 0 auto;background-color: #FFDC83;}
.stepGage .inGage{width: 50%;border-radius:0 4px 4px 0;background-color: #68503ea3;height: 11px;}
.signGage .stepGage.active{}
.signGage .stepGage.active .inGage{width: 100%;border-radius:0;}
.signUpWrap{}
.signUpWrap .title{font-size: 32px;margin-top: 50px;position: relative;}
.signUpWrap .title::after{top: -31px;left: 178px;position: absolute; display: block;content: '';background-size: contain; background-image: url('../img/icon2.png');width: 54px;height: 55px;}
.signUpWrap .title span{font-weight: bold;color: #000;}
.signUpWrap .inputForm{margin-top: 40px;}
.signUpWrap .inputForm .inputWrap{margin-top: 40px;}
.signUpWrap .inputForm .inputWrap:first-of-type{margin-top: 0px;}
.signUpWrap .inputForm label{}
.signUpWrap .inputForm label span{font-size: 20px;}
.signUpWrap .inputForm label span>span{color:#68503ea4;}
.signUpWrap .inputForm label input{width: 100%;border:0;height: 55px;background-color: #FFF6DE;border-radius: 4px;font-family: 'Gaegu' !important;padding: 0 10px;box-sizing: border-box;font-size: 14px;}
.plusText{font-size: 12px;display: block;margin-top: 9px;}
.signUpWrap .checkForm{margin-top: 3rem;}
.chk_box { display: block; position: relative; padding-left: 25px; margin-bottom: 10px; cursor: pointer; font-size: 14px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.signUpWrap2 .title::after{top: -16px;left: 141px;position: absolute; display: block;content: '';background-size: contain; background-image: url('../img/icon3.png');width: 33px;height: 36px;}
.signUpWrap2 .image{width: 270px;margin: 0 auto;margin-top: 50px;}
.signUpWrap2 .image img{width: 270px;height: 270px;object-fit: cover;border-radius: 30px;border: 2px solid #68503e30;}
.signUpWrap2 .infoBox{margin: 0 auto; margin-top: 30px; text-align: center;padding: 18px 0;background-color: #FFF3D5;border-radius: 4px;max-width: 320px;width: 100%;}
.signUpWrap2 .scopeOfDis{ margin-top: 37px;}

.signUpWrap2 .scopeOfDis h2{font-size: 16px;margin: 0 auto;margin-top: 35px; max-width: 320px;width: 100%;}
.signUpWrap2 .scopeOfDis .btnArea{display: flex;align-items: center;justify-content: space-between;width: 100% !important;max-width: unset !important;margin-top: 24px;}
.signUpWrap2 .scopeOfDis .btnArea button{width: calc(50% - 5px);border: 2px solid #674F3D;}
.signUpWrap2 .submitBtn{margin-top: 40px;padding-bottom: 20px;}
.signUpWrap2 .submitBtn .prev{width: calc(30% - 5px);background-color: transparent;border: 2px solid #674F3D;color: #674F3D;}
.signUpWrap2 .submitBtn .next{width: calc(70% - 5px);}

.signGage .signUpWrap1{}
.signGage .signUpWrap2{display: none;}
.signGage.active .signUpWrap1{display: none;}
.signGage.active .signUpWrap2{display: block;}
/* 기본 체크박스 숨기기 */
.chk_box input[type="checkbox"] { display: none; }
.signUpWrap .allArea{border-bottom: 1px solid #674F3D;}

/* 선택되지 않은 체크박스 스타일 꾸미기 */
.signUpWrap .on { width: 13px; height: 13px;border-radius: 4px; background: transparent; position: absolute; top: 0; left: 0; border: 1px solid #674F3D;}

/* 선택된 체크박스 스타일 꾸미기 */
.chk_box input[type="checkbox"]:checked + .on { background: transparent; }
.signUpWrap .on:after { content: ""; position: absolute; display: none; }
.chk_box input[type="checkbox"]:checked + .on:after { display: block; }
.signUpWrap .on:after { width: 3px; height: 7px; border: solid #674F3D; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); position: absolute; left: 4px; top: 1px; }
.submitBtn{margin-top: 3rem;}
.submitBtn button{width: 100%;height: 55px;font-size: 24px;background-color: #674F3D;color: #fff;border-radius: 4px;}

/*************** indexSub.html ***************/
.mainWrap{}
.mainWrap .titleWrap{padding-top: 50px;}
.mainWrap .titleWrap h2{font-size: 32px;font-weight: normal;}
.mainWrap .titleWrap h2 span{color: #000;font-weight: bold;}
.mainWrap .titleWrap h3{margin-top: 5px;font-size: 20px;font-weight: normal;}
.mainWrap .mainImage{max-width: 330px; margin:0 auto;margin-top: 30px;width: 100%;position: relative;}
.mainWrap .mainImage .messageContent{position: absolute;bottom: 0;width: 100%;}
.mainWrap .mainImage .messageContent .i1{position: absolute;bottom: 65px;left: 10px;}
.mainWrap .mainImage .messageContent .i2{position: absolute;bottom: 82px;left: 50px;}
.mainWrap .mainImage .messageContent .i3{position: absolute;bottom: 29px;left: 43px;}
.mainWrap .mainImage .messageContent .i4{position: absolute;bottom: 12px;right: 167px;}
.mainWrap .mainImage .messageContent .i5{position: absolute;bottom: 17px;right: 109px;}
.mainWrap .mainImage .messageContent .i6{position: absolute;right: 62px;bottom: 40px;}
.mainWrap .mainImage img{width: 100%;}
.mainWrap .pageNum{font-size: 22px;text-align: center;margin-top: 10px;}
.mainWrap .pageNum a{font-size: 22px;}
.mainWrap .linkCopy{padding-bottom: 20px;}
.linkCopy .create{background-color: transparent;color: #674F3D;}

/* mainWrap */
.foodChoice{display: flex;gap: 13px;flex-wrap: wrap;width:100%;max-width: 308px;margin: 0 auto;margin-top: 45px;}
.foodChoice .checks input[type="radio"] + label .image{width: 93px;height: 93px;background-color: #fffcf5c1;border-radius: 4px;position: relative;}
.foodChoice .checks input[type="radio"] + label .image img{width: 100%;width: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.foodChoice .checks input[type="radio"]:checked + label .image{border: 2px solid #674F3D;}
.foodChoice .checks input[type="radio"]:checked + label .image img{width: 100%;}
.mainWrap .submitBtn{margin-top: 15rem;}
.mainWrap .submitBtn .prev{width: calc(30% - 5px);background-color: transparent;border: 2px solid #674F3D;color: #674F3D;}
.mainWrap .submitBtn .next{width: calc(70% - 5px);}
.mainWrap .writeStep{}
.mainWrap .writeStep .writeForm{position: relative;background-color: #fffade71;padding: 25px;box-sizing: border-box;border-radius: 30px;border: 2px solid #674f3d6e;margin-top: 40px;}
.mainWrap .writeStep .writeForm .choiced{position: absolute;right: 10px;top: -29px;}
.mainWrap .writeStep .writeForm img{display: none;width: 63px;}
.mainWrap .writeStep .writeForm img.active{display: block;}
.mainWrap .writeStep h3{font-size: 22px;}
.mainWrap .writeStep #nickName{font-size: 24px; font-family: 'Gaegu';width: 100%;display: block;background-color: transparent;padding: 10px 5px;box-sizing: border-box;border: 0; border-bottom: 1px solid #674f3d36;}
.mainWrap .writeStep #nickName::placeholder{font-family: 'Gaegu';color: #674f3d6e;font-size: 24px;}
.mainWrap .writeStep #writeContent{padding: 10px 5px;box-sizing: border-box; height: 380px; resize: none; outline: 0; font-family: 'Gaegu';background-color: transparent;border:0;font-size: 18px;}
.mainWrap .writeStep #writeContent::placeholder{color: #674f3d6e;}
.writeStep .publicWrap{margin-top:20px;}
.mainWrap .submitBtn.line{margin-top:1rem;padding: 20px 0;border-top: 1px solid #674f3d25;}
@media(max-width: 450px){
  /* .mainWrap .mainImage{max-width: 450px;width: calc(100% + 30px);margin:0 auto;margin-left: -15px;} */
}


/*# sourceMappingURL=index.css.map */